{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      PlaceMark : lets go places! </p>
    <p class="box">
      <i class="fas fa-globe fa-10x" style="color:rgb(68, 226, 19)"></i>
      <i class="fas fa-plane fa-4x" style="color:rgb(37, 57, 236)"></i>
      <i class="fas fa-compass fa-10x" style="color:rgb(255, 0, 157)"></i>
    </p>
  </div>
</section>