{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">    
    <p class="box">
      <i class="fas fa-globe fa-10x" style="color:rgb(68, 226, 19)"></i>
      <i class="fas fa-plane fa-4x" style="color:rgb(37, 57, 236)"></i>
      <i class="fas fa-compass fa-10x" style="color:rgb(255, 0, 157)"></i>
    </p>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">PlaceMark moto</p>
      <p>What comes to your mind when someone asks you about “travel”? Does travel mean a vacation on the beach while sipping some margaritas, an adventure to the unknown, or an Instagrammable sunset destination? The idea of travelling varies from person to person, but the advantages of travelling are unbounded. </p>
      <figure class="image is-160x160">
      <img src="/images/feet.jpg">
      </figure>
    </div>
    <div class="tile is-child box">
      <p class="title">Travel Makes You Embrace Your Home and Ordinary Life More - One of The Advantages of Travelling </p>
      <p>We often tend to dream of travelling and those days off hitting the road while we’re working 9 to 5. However, when we travel, there are certain situations that you may find yourself miss the feeling of home and how convenient it is to be in your own comfort zone. You will begin to appreciate the essentials you have at home when you travel. The feeling of a comfy bed and pillows at home may pop in your mind when you spend days and weeks sleeping in hostels or camping tents. You may miss your own bathroom when you share it with other travellers in dorms and hostels. Those are the little things that you will appreciate when you are back home from a long journey.</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Why Is Travelling Important? Travelling Helps You Find a New Purpose and Forces You to Take Action</p>
      <p>When you travel, not the trip or the vacation itself, but the whole process of planning, exploring, and returning from a trip is important. When you realise how the benefits of travelling can do wonders for you, you definitely will have the motivation to pack your bag and start travelling more. What is it about travelling that always makes you feel good after coming back from a trip? There are so many advantages behind travel, but here are the top 15 benefits.</p>
      <p>Improving your well-being is one of the fundamental benefits of travelling. Travelling helps to decrease the risks of heart attack and anxiety, while developing our brain health. There have been studies proving that travel can place a positive impact on our heart health. One study from Framingham Heart Studies Organization published in the American Journal of Epidemiology shows that women who would travel at least twice a year had a significantly lower risk of developing coronary heart disease or heart attack compared with those who would only be able to travel once in every six years.</p>
      <p>One of the health benefits of travelling is that when you travel to new surroundings, you press a restart button to your body and mind, which brings in fresh energy when you get back to your regular activities. It keeps you physically fit by being active on the journey, exploring nature, hiking, or strolling the local markets. A healthy body means a healthy mind, and the stimulation you get from travelling can boost your productivity and effectiveness in your daily work. </p>
      <figure class="image is-160x160">
      <img src="/images/world.jpg">
      </figure>
    </div>          
  </div>  
</div>
