{{> menu}}

<section class="section columns is-vcentered">
  <div class="colum has-text-centered">
    <div class="title">
      {{category.title}}
    </div>
    {{> list-placenames}}
    {{> add-placename}}
  </div>
  <div class="column">
    {{> list-placenames}}
    {{> category-image }}
  </div>
</section>