{{> menu active="dashboard"}}

<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Categories
    </p>
    <section class="section">
    {{> list-categories}}
    {{> add-category}}
    {{> review}}
    </section>
  </div>
</section>

