{{> menu active="dashboard"}}

<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Categories
    </p>
    <section class="section">
    {{> list-categories}}
    {{> add-category}}    
    </section>
    <section class="section2">
      {{> review}}
    </section>
  </div>
</section>

