{{> welcome-menu}}

<figure class="image is-178x178">
  <img class="is-rounded" src="/images/main_banner.jpg" alt="Nature Picture"></img>
</figure>
<div class="content">
  <h1>Hello Dreamer!</h1>
  <p>We provide a platform to store your precious memories and even share them with your friends!
     Log beautiful outdoor or indoor points of interest. It could be anything from mountains, lakes and walks to your favourite pizza place! 
     Our platform use is free, so what are you waiting for? Go register and start creating your bucket list! </p>
  <h2>First things first</h2>
  <p>Even if the service is <strong>free</strong> we still offer great data security and we comply to all GDPR laws . 
  In order for you to get the full experience we kindly as to sign-up. You will need only the details below:</p>
  <ul>
    <li>First Name.</li>
    <li>Second Name.</li>
    <li>Email address.</li>   
  </ul>
  <h3>Meet the team!</h3>  
  <p>All this is possible thanks to two friends that traveled all over the world. 
    They cant wait to share their insights and amazing secret locations</p>
  <figure class="image is-150x150">
    <img class="is-rounded" src="/images/tourist.jpg" alt="Tourist 1">
    <figcaption>
      Figure 1: Anna (Somewhere in Italy)
    </figcaption>
    <img class="is-rounded" src="/images/tourist2.jpg" alt="Tourist 2">
    <figcaption>
      Figure 2: Patricia (Wondering in the wilderness)
    </figcaption>
  </figure>
  <h6>Privacy policy</h6>
  <p>You have the right to request that we disclose what personal information we collect, use, disclose, and "sell". 
    You can do this through a verified consumer request. That process is described below in the section, “Submitting a Verified Consumer Request.”
We collect personal information, which means information that identifies, relates to, describes, is capable of being associated with, 
or could reasonably be linked, directly or indirectly, with a particular consumer or household (“personal information”). 
The following table includes disclosures for the preceding 12 months of: categories of personal information we have collected about consumers,
 the categories we have disclosed for a business purpose, and categories of third parties with whom we shared the personal information during 
 that period.</p>
</div>