{{> welcome-menu}}

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Hello Traveler!</p>
          <p class="subtitle">We provide a platform to store your precious memories and even share them with your friends!</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">About us.</p>
          <p class="subtitle">All of this is possible thanks to two friends that traveled all over the world. 
    They cant wait to share their insights and amazing secret locations</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Meet the creator!</p>
          <p class="subtitle">Anna</p>
          <figure class="image is-4by3">
            <img src="/images/tourist.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Privacy policy</p>        
        <div class="content">
          <p>You have the right to request that we disclose what personal information we collect, use, disclose, and "sell". 
    You can do this through a verified consumer request. That process is described below in the section, “Submitting a Verified Consumer Request.”
We collect personal information, which means information that identifies, relates to, describes, is capable of being associated with, 
or could reasonably be linked, directly or indirectly, with a particular consumer or household (“personal information”). 
The following table includes disclosures for the preceding 12 months of: categories of personal information we have collected about consumers,
 the categories we have disclosed for a business purpose, and categories of third parties with whom we shared the personal information during 
 that period.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">Easy as 1-2-3</p>
        <p class="subtitle">Log beautiful outdoor or indoor points of interest. It could be anything from mountains, lakes and walks to your favourite pizza place! 
     Our platform use is free, so what are you waiting for? Go register and start creating your bucket list!</p>
        <div class="content">
          <figure class="image is-160x160">
            <img src="/images/tourist2.jpg">
          </figure>
        </div>
      </div>
    </article>
  </div>
</div>