{{> menu active="about"}}
<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">
      Recently rated places
    </p>
  <div class="text"><i style="color: rgb(53, 114, 195);"</i></i>    
    {{> reviewList }}
  </div>
  </div>
</section>
