<form class="box" action="/category/{{category._id}}/addplacename" method="POST">
  <label>Enter New PlaceMark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Placename" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add PlaceMark</button>
</form>