<div class="title p-3 is-flex">
  <i style="font-size: 48px; color: rgb(53, 114, 195);" class="fas fa-street-view"></i>
  <a class="button is-primary is-rounded is-large is-fullwidth" href="/about"><div class="content is-large" >PlaceMark</div></a>    
</div>

