<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/4stars.png"/>
  </div>
  <div class="column box has-text-centered">
    <i style="font-size: 28px; color: rgb(53, 114, 195);"</i>
    <h1>Rate Generously!</h1>
    {{> reviewForm }}
  </div>
</div>