<div class="columns">
  <div class="column has-text-centered">
    <img width="500" src="images/4stars.jpg"/>
  </div>
  <div class="column box has-text-centered">
    <i style="color: rgb(53, 114, 195);"</i>
    <h1 style="font-size: 26px; ">How much did you liked it?</h1>
    {{> reviewForm }}
  </div>
</div>